﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Niveau wijzigen</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.Level.Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Level.Id)
        @Html.HiddenFor(model => model.Level.LastModifiedAt)
        @Html.HiddenFor(model => model.Level.Category)

        <div class="form-group">
            @Html.LabelFor(model => model.Level.MinLevel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Level.MinLevel, new { htmlAttributes = new { @class = "form-control", @Min = "1", @Max = "3" } })
                @Html.ValidationMessageFor(model => model.Level.MinLevel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> 
                | @Html.ActionLink("Terug naar overzicht", "Index")
            </div>
        </div>
    </div>
}
