﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Niveau's";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Niveau's</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LevelList[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelList[0].MinLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelList[0].LastModifiedAt)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.LevelList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedAt)
                </td>
                <td>@Html.ActionLink("Wijzigen", "EditLevel", new { id = item.Id })</td>
            </tr>
        }
    </table>
</div>