﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Invoeren";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Invoeren</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bestuurslid</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Bestuurslid.CreatedAt)
        @Html.HiddenFor(model => model.Bestuurslid.LastModifiedAt)
        
        @* Name *@
        <div class="form-group">
            @Html.LabelFor(model => model.Bestuurslid.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bestuurslid.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bestuurslid.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Function *@
        <div class="form-group">
            @Html.LabelFor(model => model.Bestuurslid.Function, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bestuurslid.Function, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bestuurslid.Function, "", new { @class = "text-danger" })
            </div>
        </div>

        @* EmailAddress *@
        <div class="form-group">
            @Html.LabelFor(model => model.Bestuurslid.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bestuurslid.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bestuurslid.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        @* PhoneNumber *@
        <div class="form-group">
            @Html.LabelFor(model => model.Bestuurslid.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bestuurslid.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bestuurslid.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Category *@
        <div class="form-group">
            @Html.LabelFor(model => model.Bestuurslid.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Bestuurslid.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Active *@
        <div class="form-group">
            @Html.LabelFor(model => model.Bestuurslid.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Bestuurslid.IsActive)
                    @Html.ValidationMessageFor(model => model.Bestuurslid.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @* Submit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar overzicht", "Index")
</div>
