﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Verwijderen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Verwijderen</h2>

<h3>Weet u zeker dat u dit wilt verwijderen?</h3>
<div>
    <h4>Bestuurslid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.Category.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.Category.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.Function)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.Function)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.LastModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.LastModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.CreatedAt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar overzicht", "Index")
        </div>
    }
</div>
