﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bestuurslid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.Category.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.IsActive)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.Function)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.Function)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.LastModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.LastModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestuurslid.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestuurslid.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Bestuurslid.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
