﻿@model CVO.ViewModels.AdminVM
@using CVO.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Bestuursleden</h2>

<p>
    @Html.ActionLink("Invoeren", "Create") | 
    @Html.ActionLink("Categorieën beheren", "Index", "BestuurslidCategorie", null, null)
</p>
@if (Model.BestuurslidList.Count == 0)
{
    <p>Er zijn geen bestuursleden ingevoerd.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BestuurslidList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestuurslidList[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestuurslidList[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestuurslidList[0].Function)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestuurslidList[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestuurslidList[0].LastModifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestuurslidList[0].CreatedAt)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.BestuurslidList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Function)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Date.ShowDateOfDateTime(item.LastModifiedAt)
                </td>
                <td>
                    @Date.ShowDateOfDateTime(item.CreatedAt)
                </td>
                <td>
                    @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
