﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Invoeren";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Invoeren</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Album.DateCreated)

        @* Title *@
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Titel" } })
                @Html.ValidationMessageFor(model => model.Album.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Active *@
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Album.Active)
                    @Html.ValidationMessageFor(model => model.Album.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @* Image *@
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album.Image, new { htmlAttributes = new { @class = "form-control btn btn-info", @Type = "file" } })
                @Html.ValidationMessageFor(model => model.Album.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Url *@
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album.Url, new { htmlAttributes = new { @class = "form-control", @placeholder = "Google Photos URL" } })
                @Html.ValidationMessageFor(model => model.Album.Url, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Submit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar overzicht", "Index")
</div>
