﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Verwijderen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Verwijderen</h2>

<h3>Weet u zeker dat u dit wilt verwijderen?</h3>
<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.Image)
        </dt>

        <dd>
            @Image.ShowImage(Model.Sponsor.Image, false)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.DateCreated)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar overzicht", "Index")
        </div>
    }
</div>
