﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.Image)
        </dt>

        <dd>
            @Image.ShowImage(Model.Album.Image, false)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Album.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
