﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Wijzigen</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Album.Id)
        @Html.HiddenFor(model => model.Album.Image)
        @Html.HiddenFor(model => model.Album.DateCreated)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Foto wijzigen", "EditImage", new { id = Model.Album.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>

        @* Title *@
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Titel" } })
                @Html.ValidationMessageFor(model => model.Album.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Active *@
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Album.Active)
                    @Html.ValidationMessageFor(model => model.Album.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @* Url *@
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album.Url, new { htmlAttributes = new { @class = "form-control", @placeholder = "Google Photos URL" } })
                @Html.ValidationMessageFor(model => model.Album.Url, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Submit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> | @Html.ActionLink("Annuleren", "Index")
            </div>
        </div>
    </div>
}