﻿@model CVO.ViewModels.IndexVM
@using PagedList.Mvc
@using CVO.Models

@if (Model.AlbumPagedList.Count != 0)
{
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading"><h3>Albums</h3></div>
            <div class="panel-body">
                @foreach (var album in Model.AlbumPagedList)
                {
                    <p>
                        <b>@album.Title</b><br />
                        <a href="@album.Url" target="_blank">@album.Url</a>
                        <span class="small-date float-right">
                            @Date.ReturnDutchNameOfMonth(album.DateCreated) @album.DateCreated.Day, @album.DateCreated.Year
                        </span>
                    </p>
                            <hr />
                }
                <p class="text-center">Pagina @(Model.AlbumPagedList.PageCount < Model.AlbumPagedList.PageNumber ? 0 : Model.AlbumPagedList.PageNumber) van @Model.AlbumPagedList.PageCount</p>
                <p>@Html.PagedListPager(Model.AlbumPagedList, page => Url.Action("Zoeken", new { search = Model.Search, pageAlbum = page }))</p>
            </div>
        </div>
    </div>
}