﻿@model CVO.ViewModels.IndexVM
@using CVO.Models
@using PagedList.Mvc

@if (Model.KalenderPagedList.Count != 0)
{
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading"><h3>Kalender</h3></div>
            <div class="panel-body">
                @foreach (var calendar in Model.KalenderPagedList)
                {
                    <p>
                        <b>@Html.ActionLink(calendar.Title, "KalenderItem", new { id = calendar.Id })</b><br />
                        @Text.GetPartOfString(calendar.Description, 100)
                        <span class="small-date float-right">
                            @Date.ReturnDutchNameOfMonth(calendar.DateCreated) @calendar.DateCreated.Day, @calendar.DateCreated.Year
                        </span>
                    </p>
                            <hr />
                }
                <p class="text-center">Pagina @(Model.KalenderPagedList.PageCount < Model.KalenderPagedList.PageNumber ? 0 : Model.KalenderPagedList.PageNumber) van @Model.KalenderPagedList.PageCount</p>
                <p>@Html.PagedListPager(Model.KalenderPagedList, page => Url.Action("Zoeken", new { search = Model.Search, pageKalender = page }))</p>
            </div>
        </div>
    </div>
}