﻿@model CVO.ViewModels.IndexVM
@using CVO.Models
@using PagedList.Mvc

@if (Model.NieuwsPagedList.Count != 0)
{
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading"><h3>Nieuws</h3></div>
            <div class="panel-body">
                @foreach (var news in Model.NieuwsPagedList)
                {
                    <p>
                        <b>@Html.ActionLink(news.Title, "Nieuws", new { id = news.Id })</b><br />
                        @Text.GetPartOfString(news.Content, 100)
                        <span class="small-date float-right">
                            @Date.ReturnDutchNameOfMonth(news.DateCreated) @news.DateCreated.Day, @news.DateCreated.Year
                            @if (news.Locked == true)
                            {
                                <i class="fa fa-lock"></i>
                            }
                        </span>
                    </p>
                            <hr />
                }
                <p class="text-center">Pagina @(Model.NieuwsPagedList.PageCount < Model.NieuwsPagedList.PageNumber ? 0 : Model.NieuwsPagedList.PageNumber) van @Model.NieuwsPagedList.PageCount</p>
                <p>@Html.PagedListPager(Model.NieuwsPagedList, page => Url.Action("Zoeken", new { search = Model.Search, pageNieuws = page }))</p>
            </div>
        </div>
    </div>
}