﻿@model CVO.ViewModels.IndexVM
@using PagedList.Mvc
@using CVO.Models

@if (Model.TeamPagedList.Count != 0)
{
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading"><h3>Teams</h3></div>
            <div class="panel-body">
                @foreach (var team in Model.TeamPagedList)
                {
                    <p>
                        <b>@Html.ActionLink(team.Name, "Team", new { id = team.Id })</b><br />
                        @Text.GetPartOfString(team.Description, 100)
                        <span class="small-date float-right">
                            @Date.ReturnDutchNameOfMonth(team.DateCreated) @team.DateCreated.Day, @team.DateCreated.Year
                        </span>
                    </p>
                    <hr />
                }
                <p class="text-center">Pagina @(Model.TeamPagedList.PageCount < Model.TeamPagedList.PageNumber ? 0 : Model.TeamPagedList.PageNumber) van @Model.TeamPagedList.PageCount</p>
                <p>@Html.PagedListPager(Model.TeamPagedList, page => Url.Action("Zoeken", new { search = Model.Search, pageTeam = page }))</p>
            </div>
        </div>
    </div>
}