﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Invoeren";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Sponsor koppelen aan team</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Team</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Team.Id)
        @Html.HiddenFor(model => model.Team.Name)
        @Html.HiddenFor(model => model.Team.Active)
        @Html.HiddenFor(model => model.Team.Description)
        @Html.HiddenFor(model => model.Team.Image)
        @Html.HiddenFor(model => model.Team.DateCreated)

        @* Sponsor name *@
        <div class="form-group">
            @Html.LabelFor(model => model.Team.SponsorName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Team.SponsorName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sponsor naam" } })
                @Html.ValidationMessageFor(model => model.Team.SponsorName, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Sponsor website *@
        <div class="form-group">
            @Html.LabelFor(model => model.Team.SponsorWebsite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Team.SponsorWebsite, new { htmlAttributes = new { @class = "form-control", @placeholder = "www.cvo.nl" } })
                @Html.ValidationMessageFor(model => model.Team.SponsorWebsite, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Sponsor image *@
        <div class="form-group">
            @Html.LabelFor(model => model.Team.SponsorImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Team.SponsorImage, new { htmlAttributes = new { @class = "form-control btn btn-info", @Type = "file" } })
                @Html.ValidationMessageFor(model => model.Team.SponsorImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> | @Html.ActionLink("Deze stap overslaan", "Index")
            </div>
        </div>
    </div>
}
