﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Image)
        </dt>

        <dd>
            @Image.ShowImage(Model.Team.Image, false)
        </dd

        <dt>
            @Html.DisplayNameFor(model => model.Team.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.SponsorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.SponsorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.SponsorWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.SponsorWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.SponsorImage)
        </dt>

        <dd>
            @Image.ShowImage(Model.Team.SponsorImage, false)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Team.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
