﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
    @{
        ViewBag.Title = "Wijzigen";
        Layout = "~/Views/Shared/_Admin.cshtml";
    }

    <h2>Wijzig sponsorfoto</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Team</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Team.Id)
            @Html.HiddenFor(model => model.Team.Active)
            @Html.HiddenFor(model => model.Team.DateCreated)
            @Html.HiddenFor(model => model.Team.Name)
            @Html.HiddenFor(model => model.Team.Image)
            @Html.HiddenFor(model => model.Team.SponsorName)
            @Html.HiddenFor(model => model.Team.SponsorWebsite)
            @Html.HiddenFor(model => model.Team.Description)

            <h2>Huidige sponsorfoto</h2>
            @Image.ShowCurrentImage(Model.Team.SponsorImage, Model.Team.SponsorName)
            <br />

            @* Image *@
            <h2>Nieuwe sponsorfoto uploaden</h2>
            @Html.EditorFor(model => model.Team.SponsorImage, new { htmlAttributes = new { @class = "form-control btn btn-info", @Type = "file" } })
            <br />

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Opslaan" class="btn btn-default" /> |
                    @Html.ActionLink("Annuleren", "Edit", new { id = Model.Team.Id })
                </div>
            </div>
        </div>
    }