﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Wijzigen</h2>

<div class="form-horizontal">
    <h4>Team</h4>
    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Teamfoto wijzigen", "EditImage", new { id = Model.Team.Id }, htmlAttributes: new { @class = "btn btn-default" })
            @if (Model.Team.SponsorImage == null)
            {
                @Html.ActionLink("Sponsorfoto invoeren", "EditSponsorImage", new { id = Model.Team.Id }, htmlAttributes: new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Sponsorfoto wijzigen", "EditSponsorImage", new { id = Model.Team.Id }, htmlAttributes: new { @class = "btn btn-default" })
                <button class="btn btn-default" data-toggle="modal" data-target="#deleteSponsorImage" type="button">Sponsorfoto verwijderen</button>
            }
        </div>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Team.Id)
        @Html.HiddenFor(model => model.Team.Image)
        @Html.HiddenFor(model => model.Team.DateCreated)
        @Html.HiddenFor(model => model.Team.SponsorImage)

        @* Name *@
        <div class="form-group">
            @Html.LabelFor(model => model.Team.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Team.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Teamnaam" } })
                @Html.ValidationMessageFor(model => model.Team.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Description *@
        <div class="form-group">
            @Html.LabelFor(model => model.Team.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Team.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Team.Description, "", new { @class = "text-danger", @placeholder = "Omschrijving" })
            </div>
        </div>

        @* Active *@
        <div class="form-group">
            @Html.LabelFor(model => model.Team.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Team.Active)
                    @Html.ValidationMessageFor(model => model.Team.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @* Sponsor name *@
        <div class="form-group">
            @Html.LabelFor(model => model.Team.SponsorName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Team.SponsorName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sponsor naam" } })
                @Html.ValidationMessageFor(model => model.Team.SponsorName, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Sponsor website *@
        <div class="form-group">
            @Html.LabelFor(model => model.Team.SponsorWebsite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Team.SponsorWebsite, new { htmlAttributes = new { @class = "form-control", @placeholder = "www.cvo.nl" } })
                @Html.ValidationMessageFor(model => model.Team.SponsorWebsite, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> | @Html.ActionLink("Annuleren", "Index")
            </div>
        </div>
    }
</div>

@* Modal for deleting sponsorimage *@
<div class="modal fade" id="deleteSponsorImage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Foto verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>Weet u zeker dat u de foto wilt verwijderen?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("DeleteSponsorImage", null))
                {
                    @Html.HiddenFor(model => model.Team.Id)
                    @Html.HiddenFor(model => model.Team.Active)
                    @Html.HiddenFor(model => model.Team.DateCreated)
                    @Html.HiddenFor(model => model.Team.Name)
                    @Html.HiddenFor(model => model.Team.SponsorImage)
                    @Html.HiddenFor(model => model.Team.SponsorName)
                    @Html.HiddenFor(model => model.Team.SponsorWebsite)
                    @Html.HiddenFor(model => model.Team.Description)
                    @Html.HiddenFor(model => model.Team.Image)
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-default">Ja</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
                }

            </div>
        </div>
    </div>
</div>