﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Invoeren", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamList[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamList[0].Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamList[0].Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamList[0].SponsorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamList[0].SponsorWebsite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamList[0].SponsorImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamList[0].DateCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.TeamList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Image.ShowImage(item.Image, true)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SponsorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SponsorWebsite)
        </td>
        <td>
            @Image.ShowImage(item.SponsorImage, true)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Wijzigen", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
