﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Invoeren";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Invoeren</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Categorie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BestuurslidCategorie.CreatedAt)
        @Html.HiddenFor(model => model.BestuurslidCategorie.LastModifiedAt)
        
        @* Title *@
        <div class="form-group">
            @Html.LabelFor(model => model.BestuurslidCategorie.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BestuurslidCategorie.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BestuurslidCategorie.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @* IsCalamity *@
        <div class="form-group">
            @Html.LabelFor(model => model.BestuurslidCategorie.IsCalamity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.BestuurslidCategorie.IsCalamity)
                    @Html.ValidationMessageFor(model => model.BestuurslidCategorie.IsCalamity, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar overzicht", "Index")
</div>
