﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Verwijderen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Verwijderen</h2>

<h3>
    Weet u zeker dat u dit wilt verwijderen?
    Alle bestuursleden met deze categorie worden ook verwijderd!
</h3>
<div>
    <h4>Categorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BestuurslidCategorie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestuurslidCategorie.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestuurslidCategorie.IsCalamity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestuurslidCategorie.IsCalamity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestuurslidCategorie.LastModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestuurslidCategorie.LastModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestuurslidCategorie.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestuurslidCategorie.CreatedAt)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar overzicht", "Index")
        </div>
    }
</div>
