﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BestuurslidCategorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BestuurslidCategorie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestuurslidCategorie.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestuurslidCategorie.IsCalamity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestuurslidCategorie.IsCalamity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestuurslidCategorie.LastModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestuurslidCategorie.LastModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestuurslidCategorie.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestuurslidCategorie.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.BestuurslidCategorie.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
