﻿@model CVO.ViewModels.AdminVM
@using CVO.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Bestuursleden categorieën</h2>

<p>
    @Html.ActionLink("Invoeren", "Create")
    @Html.ActionLink("Bestuursleden beheren", "Index", "Bestuurslid", null, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BestuurslidCategorieList[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestuurslidCategorieList[0].IsCalamity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestuurslidCategorieList[0].LastModifiedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestuurslidCategorieList[0].CreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.BestuurslidCategorieList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCalamity)
        </td>
        <td>
            @Date.ShowDateOfDateTime(item.LastModifiedAt)
        </td>
        <td>
            @Date.ShowDateOfDateTime(item.CreatedAt)
        </td>
        <td>
            @Html.ActionLink("Wijzigen", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
