﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Wijzigen</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Locatie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Locatie.Id)

        @* Stadium *@
        <div class="form-group">
            @Html.LabelFor(model => model.Locatie.Stadium, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Locatie.Stadium, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sportpark" } })
                @Html.ValidationMessageFor(model => model.Locatie.Stadium, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Street *@
        <div class="form-group">
            @Html.LabelFor(model => model.Locatie.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Locatie.Street, new { htmlAttributes = new { @class = "form-control", @placeholder = "Straat" } })
                @Html.ValidationMessageFor(model => model.Locatie.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Number *@
        <div class="form-group">
            @Html.LabelFor(model => model.Locatie.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Locatie.Number, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nummer" } })
                @Html.ValidationMessageFor(model => model.Locatie.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        @* ZipCode *@
        <div class="form-group">
            @Html.LabelFor(model => model.Locatie.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Locatie.ZipCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Postcode" } })
                @Html.ValidationMessageFor(model => model.Locatie.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        @* City *@
        <div class="form-group">
            @Html.LabelFor(model => model.Locatie.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Locatie.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Stad" } })
                @Html.ValidationMessageFor(model => model.Locatie.City, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Phone *@
        <div class="form-group">
            @Html.LabelFor(model => model.Locatie.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Locatie.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefoonnummer" } })
                @Html.ValidationMessageFor(model => model.Locatie.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Submit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}