﻿@* RubenTODO Example: https://p.w3layouts.com/demos/easy_admin_panel/web/index.html *@
@model CVO.ViewModels.AdminVM
<div id="mySidenav" class="sidenav">
    <div class="logo">
        <h1>CVO</h1>
    </div>
    <div class="row profile">
        @if (Model.CurrentUser.Image == null)
        {
            //Show placeholder image
            <div class="col-xs-3"><img src="~/Images/user-placeholder.png" class="img-circle img-center" alt="profielfoto placeholder" /></div>
        }
        else
        {
            //Show profile picture
            <div class="col-xs-3"><img src="@Model.CurrentUser.Image" class="img-circle img-center" alt="@Model.CurrentUser.FirstName" /></div>
        }
        @* RubenTODO: Later niveau veranderen naar rolnaam *@
        <div class="col-xs-9">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName<br /> Niveau: @Model.CurrentUser.Level</div>
    </div>
    <ul class="nav nav-pills nav-stacked">
        @{
            //Set controller name so it can be compared with the current controller
            var controller = ViewContext.RouteData.Values["Controller"].ToString();
        }

        <li class="@(string.Equals(controller, "admin", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")"><a href="@Url.Action("Index", "Admin")"><i class="fa fa-tachometer"></i> <span class="name">Dashboard</span></a></li>

        @if (Model.LevelAlbum <= Model.CurrentUser.Level)
        {
            <li class="@(string.Equals(controller, "album", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")"><a href="@Url.Action("Index", "Album")"><i class="fa fa-camera"></i> <span class="name">Albums</span></a></li>
        }

        @if (Model.LevelLocation <= Model.CurrentUser.Level)
        {
            <li class="dropdown @(string.Equals(controller, "bestuurslid", StringComparison.CurrentCultureIgnoreCase) || string.Equals(controller, "bestuurslidCategorie", StringComparison.CurrentCultureIgnoreCase) || string.Equals(controller, "locatie", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-address-book-o"></i> <span class="name">Contact</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="@(string.Equals(controller, "locatie", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")"><a href="@Url.Action("Index", "Locatie")"><i class="fa fa-location-arrow"></i> <span class="name">Locatie</span></a></li>
                    <li class="@(string.Equals(controller, "bestuurslid", StringComparison.CurrentCultureIgnoreCase) || string.Equals(controller, "bestuurslidCategorie", StringComparison.CurrentCultureIgnoreCase)? "active" : "")">
                    <a href="@Url.Action("Index", "Bestuurslid")"><i class="fa fa-users"></i> <span class="name">Bestuursleden</span></a></li>
                </ul>
            </li>
        }

        @if (Model.LevelUser <= Model.CurrentUser.Level)
        {
            <li class="dropdown @(string.Equals(controller, "gebruiker", StringComparison.CurrentCultureIgnoreCase) || string.Equals(controller, "level", StringComparison.CurrentCultureIgnoreCase)? "active" : "")">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> <span class="name">Gebruikers</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="@(string.Equals(controller, "gebruiker", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")"><a href="@Url.Action("Index", "Gebruiker")"><i class="fa fa-users"></i> <span class="name">Gebruikers</span></a></li>
                    <li class="@(string.Equals(controller, "level", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")"><a href="@Url.Action("Index", "Level")"><i class="fa fa-sort"></i> <span class="name">Niveau's</span></a></li>
                </ul>
            </li>
        }

        @if (Model.LevelCalendar <= Model.CurrentUser.Level)
        {
            <li class="@(string.Equals(controller, "kalender", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")"><a href="@Url.Action("Index", "Kalender")"><i class="fa fa-calendar"></i> <span class="name">Kalender</span></a></li>
        }

        @if (Model.LevelNews <= Model.CurrentUser.Level)
        {
            <li class="@(string.Equals(controller, "nieuws", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")"><a href="@Url.Action("Index", "Nieuws")"><i class="fa fa-newspaper-o"></i> <span class="name">Nieuws</span></a></li>
        }

        @if (Model.LevelSponsor <= Model.CurrentUser.Level)
        {
            <li class="@(string.Equals(controller, "sponsor", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")"><a href="@Url.Action("Index", "Sponsor")"><i class="fa fa-credit-card"></i> <span class="name">Sponsors</span></a></li>
        }

        @if (Model.LevelTeam <= Model.CurrentUser.Level)
        {
            <li class="@(string.Equals(controller, "team", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")"><a href="@Url.Action("Index", "Team")"><i class="fa fa-users"></i> <span class="name">Teams</span></a></li>
        }
        <li><a href="@Url.Action("Logout", "Admin")">Uitloggen</a></li>
    </ul>
</div>