﻿@using CVO.Models

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-brand">CVO</div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="navbar">
                <li onclick="history.go('-1')" class="historybackbutton"><a class="fa fa-arrow-left"></a></li>
                <li onclick="setNav()"><a class="fa fa-bars"></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profiel <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Edit", "Profiel", new { id = Gebruiker.ReturnCurrentUser().Id })">Mijn profiel</a></li>
                        <li><a href="@Url.Action("ChangePassword", "Profiel", new { id = Gebruiker.ReturnCurrentUser().Id })">Wachtwoord wijzigen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Logout", "Admin")">Uitloggen</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>