﻿<!DOCTYPE html>
<html>
<head>

    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ruben van Spanje" />

    @* Favicon *@
    <link rel="apple-touch-icon" sizes="180x180" href="/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Favicon/favicon-16x16.png">
    <link rel="manifest" href="/Favicon/manifest.json">
    <link rel="mask-icon" href="/Favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/Favicon/favicon.ico">
    <meta name="msapplication-config" content="/Favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    @* Title *@
    <title>@ViewBag.Title - Admin - CVO Vaassen</title>

    @* Includes *@
    @Styles.Render("~/Content/admin")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="admin">
        @{
            //Get action, so navbars can be turned off when action is Login
            var action = ViewContext.RouteData.Values["Action"].ToString();
        }

        @* Navbar *@
        @if (!string.Equals(action, "login", StringComparison.CurrentCultureIgnoreCase)
                && !string.Equals(action, "forgotPassword", StringComparison.CurrentCultureIgnoreCase)
                && !string.Equals(action, "sendPassword", StringComparison.CurrentCultureIgnoreCase))
        {
            <div class="moveToRight">
                @Html.Partial("_AdminNavbar")
            </div>
        }

        @* Sidemenu *@
        @if (!string.Equals(action, "login", StringComparison.CurrentCultureIgnoreCase) 
            && !string.Equals(action, "forgotPassword", StringComparison.CurrentCultureIgnoreCase)
            && !string.Equals(action, "sendPassword", StringComparison.CurrentCultureIgnoreCase))
        {
            @Html.Partial("_AdminSideBar")
        }


        @* Body *@
        <div class="moveToRight">
            <div class="container" id="body-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
