﻿@model CVO.ViewModels.IndexVM
<footer>
    <div class='container text-center'>
        <div class='col-sm-4'>
            <h3>Locatie</h3>
            <p>
                @Model.Locatie.Stadium<br />
                @Model.Locatie.Street @Model.Locatie.Number<br />
                @Model.Locatie.ZipCode @Model.Locatie.City<br />
                @Model.Locatie.Phone<br />
            </p>
        </div>
        <div class='col-sm-4'>
            <h3>Social media</h3>
            <p>
                <a href="https://www.facebook.com/Handbal-CVO-509372775882978" target="_blank" class="btn-social"><i class="fa fa-facebook"></i></a>
            </p>
        </div>
        <div class='col-sm-4'>
            <h3>Ontwikkeld door</h3>
            <p>
                <a href="https://www.linkedin.com/in/ruben-van-spanje-903859104/" target="_blank" style="color: white;">Ruben van Spanje</a>
            </p>
        </div>
    </div>
</footer>

<footer class='footer-below'>
    <p>
        &copy; @DateTime.Now.Year - CVO. Alle rechten voorbehouden.
        <a href='#'>Algemene voorwaarden</a> |
        @Html.ActionLink("Contact", "Contact") |
    </p>
</footer>
