﻿<!DOCTYPE html>
<html>
<head>

    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HVCVO, HvCVO, Handbalvereniging CVO, Handbal Vaassen, handbal in Vaassen, handbal in Epe, handbal in Emst, Concorcia Vincent Omnia, Dameshandbal in Vaassen, Zomerhandbal, Jeugdhandbal Vaassen, @ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description - Handbalvereniging CVO uit vaassen. Op onze website kunt u nieuws, activiteiten, foto's en nog veel meer vinden.'" />
    <meta name="author" content="Ruben van Spanje" />

    @* Favicon *@
    <link rel="apple-touch-icon" sizes="180x180" href="/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Favicon/favicon-16x16.png">
    <link rel="manifest" href="/Favicon/manifest.json">
    <link rel="mask-icon" href="/Favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/Favicon/favicon.ico">
    <meta name="msapplication-config" content="/Favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    @* Title *@
    <title>@ViewBag.Title - CVO Vaassen</title>

    @* Includes *@
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="website">
    @Html.Partial("_Navbar")


    <div class="container body-content">
        @RenderBody()
    </div>


    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
