﻿@{
    var action = ViewContext.RouteData.Values["Action"].ToString();
}

@* If action == "index", show header picture *@
@if (string.Equals(action, "index", StringComparison.CurrentCultureIgnoreCase))
{
    <header>
        <img src="/Images/index.png" alt="home" class="img-responsive">
    </header>
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <header class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("CVO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </header>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="@(string.Equals(action, "index", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class='dropdown'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vereniging <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        @* Active moet later nog worden omgezet naar de juiste pagina's *@
                        @* Omzetten naar html actionlink *@
                        <li><a href="#">Programma</a></li>
                        <li><a href="#">Uitslagen</a></li>
                        <li><a href="#">Standen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Historie</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Overig</a></li>
                    </ul>
                </li>
                <li class="@(string.Equals(action, "Euroclub", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">@Html.ActionLink("Euroclub", "Euroclub", "Home")</li>
                <li class="@(string.Equals(action, "Kalender", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">@Html.ActionLink("Kalender", "Kalender", "Home")</li>
                <li class="@(string.Equals(action, "Albums", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">@Html.ActionLink("Albums", "Albums", "Home")</li>
                <li class="@(string.Equals(action, "Teams", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">@Html.ActionLink("Teams", "Teams", "Home")</li>
                <li class="@(string.Equals(action, "Contact", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @using (Html.BeginForm("Search", null, FormMethod.Post, new { enctype = "multipart/form-data", @class="navbar-form navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="Zoeken">
                </div>

                @* Submit *@
                <div class="form-group">
                        <input type="submit" value="Zoeken" class="btn btn-default" />
                </div>
    }
        </div>
    </div>
</nav>
