﻿@* Albums panel *@
<div class="row">
    <div class="col-sm-12">
        <aside class="panel albums">
            <header class="panel-heading">
                <h3>Albums</h3>
            </header>
            <div class="panel-body text-center">
                @if (Model.AlbumList.Count == 0)
            {
                    <p class="nullResults">Er zijn op dit moment nog geen albums ingevoerd.</p>
                }
                else
                {
                    foreach (var item in Model.AlbumList)
                    {
                        <div class="col-sm-6">
                            @item.addLinkToImage(item.Url, item.Image, item.Title)
                            <p>@item.Title</p>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-sm-12">
                        @Html.ActionLink("Bekijk alle albums", "Albums", null, new { @Class = "btn btn-blue btn-block" })
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
