﻿@model CVO.ViewModels.IndexVM
@* Contact form panel *@
<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <h3>Contactformulier</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.contactform.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Naam" } })
                            @Html.ValidationMessageFor(model => model.contactform.Name, "", new { @class = "text-danger" })
                            <br>
                            <br>
                            @Html.EditorFor(model => model.contactform.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefoonnummer" } })
                            @Html.ValidationMessageFor(model => model.contactform.Phone, "", new { @class = "text-danger" })
                            <br>
                            <br>
                            @Html.EditorFor(model => model.contactform.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.contactform.Email, "", new { @class = "text-danger" })
                            <br>
                            <br>
                        </div>
                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.contactform.Message, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bericht", @rows = 10 } })
                            @Html.ValidationMessageFor(model => model.contactform.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" name="contact_form" class="btn btn-blue btn-block">Verzenden</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>