﻿@* Facebook API panel *@
<div class="row">
    <div class="col-sm-12">
        <article class="panel">
            <header class="panel-heading">
                <h3>Facebook</h3>
            </header>
            <div class="panel-body text-center">
                <div class="fb-page"
                     data-href="https://www.facebook.com/Handbal-CVO-509372775882978/"
                     data-tabs="timeline"
                     data-height="600"
                     data-small-header="false"
                     data-adapt-container-width="true"
                     data-hide-cover="false"
                     data-show-facepile="false">
                </div>
            </div>
        </article>
    </div>
</div>

@* Facebook API *@
<div id="fb-root"></div>
<script src="/Scripts/facebook.js"></script>