﻿@* Calendar panel *@
<div class="row">
    <div class="col-sm-12">
        <article class="panel">
            <header class="panel-heading">
                <h3>Kalender</h3>
            </header>
            <div class="panel-body">
                @if (Model.KalenderList.Count == 0)
                {
                    <p class="nullResults text-center">Er zijn op dit moment geen activiteiten gepland.</p>
                }
                else
                {
                    foreach (var item in Model.KalenderList)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <h5>
                                    <b>@item.ShowIndexFormat(item.DateStart, item.DateEnd): </b>
                                    @Html.ActionLink((string)item.Title, "KalenderItem", new { id = item.Id })
                                </h5>
                            </div>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-sm-12">
                        @Html.ActionLink("Bekijk de kalender", "Kalender", null, new { @Class = "btn btn-blue btn-block" })
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
