﻿@*Location panel  *@
@model CVO.ViewModels.IndexVM
<div class="row">
    <div class="col-sm-12">
        <article class="panel">
            <header class="panel-heading">
                <h3>Locatie</h3>
            </header>
            <div class="panel-body text-center">
                <p>
                    @Model.Locatie.Stadium<br />
                    @Model.Locatie.Street @Model.Locatie.Number<br />
                    @Model.Locatie.ZipCode @Model.Locatie.City<br />
                    @Model.Locatie.Phone<br />
                </p>
                @Html.ActionLink("Ga naar locatie", "Contact", null, new { @Class = "btn btn-blue btn-block" })
            </div>
        </article>
    </div>
</div>