﻿@using CVO.Models


@if (Model.NieuwsPagedList.Count != 0)
{

    @* News panels *@
    <div class="row">
        @{
            //Counter news, first item 12 columns, others 6 columns
            var counter = 1;
            foreach (var item in Model.NieuwsPagedList)
            {
                if (counter == 1)
                {
                    <div class="col-sm-12">
                        <article class="panel">
                            <header class="panel-heading"><h3>Nieuws</h3></header>
                            @if (item.Image != null)
                        {
                                <img src="@item.Image" alt="@item.Title" class="img-responsive img-center" />
                            }
                            <div class="panel-body">
                                <h1>
                                    @item.Title
                                    <small class="small-right">
                                        @Date.ReturnDutchNameOfMonth(item.DateCreated) @item.DateCreated.Day, @item.DateCreated.Year
                                        @if (item.Locked == true)
                                        {
                                            <i class="fa fa-lock"></i>
                                        }
                                    </small>

                                </h1>
                                <br />
                                <p>
                                    @Text.GetPartOfString(item.Content, 1000)
                                    <br /><br />
                                    <div class="text-center">
                                        @Html.ActionLink("Lees verder", "Nieuws", new { id = item.Id }, new { @Class = "btn btn-blue btn-lg" })
                                    </div>
                                </p>
                            </div>
                        </article>
                    </div>
                }
                else
                {
                    <div class="col-sm-6">
                        <article class="panel">
                            <header class="panel-heading"><h3>Nieuws</h3></header>
                            @if (item.Image != null)
                        {
                                <img src="@item.Image" alt="@item.Title" class="img-responsive img-center" />
                            }
                            <div class="panel-body">
                                <h3 class="small-title">@item.Title</h3>
                                <p class="small-date">
                                    @Date.ReturnDutchNameOfMonth(item.DateCreated) @item.DateCreated.Day, @item.DateCreated.Year
                                    @if (item.Locked == true)
                                    {
                                        <i class="fa fa-lock"></i>
                                    }
                                </p>
                                <br />
                                <p>
                                    @Text.GetPartOfString(item.Content, 500)
                                    <br /><br />
                                    <div class="text-center">
                                        @Html.ActionLink("Lees verder", "Nieuws", new { id = item.Id }, new { @Class = "btn btn-blue btn-lg" })
                                    </div>
                                </p>
                            </div>
                        </article>
                    </div>
                }
                //Increase counter every item
                counter++;
            }
        }
    </div>
            }