﻿@model CVO.ViewModels.IndexVM
@using PagedList.Mvc

@if (Model.NieuwsPagedList.Count != 0)
{
    @* News pagination panel *@
    <div class="row">
        <div class="col-sm-12">
            <article class="panel">
                <header class="panel-heading"><h3>Nieuws</h3></header>
                <div class="panel-body">
                    <p class="text-center">Pagina @(Model.NieuwsPagedList.PageCount < Model.NieuwsPagedList.PageNumber ? 0 : Model.NieuwsPagedList.PageNumber) van @Model.NieuwsPagedList.PageCount</p>
                    <p>@Html.PagedListPager(Model.NieuwsPagedList, page => Url.Action("Index", new { page }))</p>
                </div>
            </article>
        </div>
    </div>
}