﻿@* Sponsor panel *@
<div class="row">
    <div class="col-sm-12">
        <aside class="panel sponsors">
            <header class="panel-heading">
                <h3>Sponsors</h3>
            </header>
            <div class="panel-body text-center">
                @if (Model.SponsorList.Count == 0)
            {
                    <p class="nullResults">Er zijn op dit moment nog geen sponsors ingevoerd.</p>
                }
                else
                {
                    foreach (var item in Model.SponsorList)
                    {
                        <div class="col-sm-6">
                            @item.addLinkToImage(item.Website, item.Image, item.Name)
                            <p>@item.Name</p>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-sm-12">
                        @Html.ActionLink("Bekijk alle sponsors", "Sponsors", null, new { @Class = "btn btn-blue btn-block" })
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
