﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sponsor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sponsor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sponsor.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsor.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sponsor.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsor.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sponsor.Image)
        </dt>

        <dd>
            @Image.ShowImage(Model.Sponsor.Image, false)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sponsor.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsor.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Sponsor.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
