﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Foto wijzigen</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sponsor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Sponsor.Id)
        @Html.HiddenFor(model => model.Sponsor.Active)
        @Html.HiddenFor(model => model.Sponsor.Website)
        @Html.HiddenFor(model => model.Sponsor.Name)
        @Html.HiddenFor(model => model.Sponsor.DateCreated)

        <h2>Huidige foto</h2>
        @Image.ShowCurrentImage(Model.Sponsor.Image, Model.Sponsor.Name)
        <br />

        @* Image *@
        <h2>Nieuwe foto uploaden</h2>
        @Html.EditorFor(model => model.Sponsor.Image, new { htmlAttributes = new { @class = "form-control btn btn-info", @Type = "file" } })
        <br />

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Opslaan" class="btn btn-default" /> |
                @Html.ActionLink("Annuleren", "Edit", new { id = Model.Sponsor.Id })
            </div>
        </div>
    </div>
}