﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Wijzigen</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sponsor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Sponsor.Id)
        @Html.HiddenFor(model => model.Sponsor.Image)
        @Html.HiddenFor(model => model.Sponsor.DateCreated)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Foto wijzigen", "EditImage", new { id = Model.Sponsor.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>

        @* Name *@
        <div class="form-group">
            @Html.LabelFor(model => model.Sponsor.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sponsor.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Naam" } })
                @Html.ValidationMessageFor(model => model.Sponsor.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Active *@
        <div class="form-group">
            @Html.LabelFor(model => model.Sponsor.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Sponsor.Active)
                    @Html.ValidationMessageFor(model => model.Sponsor.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @* Website *@
        <div class="form-group">
            @Html.LabelFor(model => model.Sponsor.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sponsor.Website, new { htmlAttributes = new { @class = "form-control", @placeholder = "www.cvo.nl" } })
                @Html.ValidationMessageFor(model => model.Sponsor.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Submit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> | @Html.ActionLink("Annuleren", "Index")
            </div>
        </div>
    </div>
}
