﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Sponsors</h2>

<p>
    @Html.ActionLink("Invoeren", "Create")
</p>
@if (Model.SponsorList.Count == 0)
{
    <p>Er zijn geen sponsors ingevoerd.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SponsorList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorList[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorList[0].Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorList[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorList[0].DateCreated)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.SponsorList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Image.ShowImage(item.Image, true)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
