﻿/*////////////////////HTML & Body/////////////////////*/
body {
    background-color: #F1F1F1;
    font-family: 'Cabin', sans-serif;
}

/*///////////////////////Panel///////////////////////*/
.admin .panel-login {
    margin-top: 10%;
    text-align: center;
}


/*///////////////////////Input///////////////////////*/
.admin textarea {
    height: 300px;
}

/*///////////////////////Text////////////////////////*/
.admin .errorText {
    color: red;
}

.admin .text-color-green {
    color: green;
}


/*///////////////////////Image///////////////////////*/
.admin .img-small {
    min-height: 150px;
    min-width: 150px;
    max-width: 150px;
    max-height: 150px;
}

.admin .img-index {
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
}

.admin .img-center {
    margin-left: auto;
    margin-right: auto;
}

/*/////////////////////Topmenu///////////////////////*/
.admin .navbar {
    background-color: #E59500;
}

    .admin .navbar .navbar-nav li a,
    .admin .navbar .navbar-brand {
        color: #FFFFFF;
    }

    .admin .navbar .caret {
        border-top-color: #ffffff !important;
    }

    .admin .navbar .dropdown-menu a {
        color: black !important;
    }

    .admin .navbar a:hover {
        background-color: cornflowerblue !important;
        border-radius: 0px;
    }

    .admin .navbar .navbar-brand {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
    }

    .admin .navbar a.fa-bars:hover,
    .admin .navbar a.fa-arrow-left:hover {
        cursor: pointer;
    }

    .admin .navbar .navbar-toggle {
        z-index: 3;
    }

    .admin .navbar .dropdown-menu {
        background-color: #f58a25;
        border-color: #f58a25;
    }

        .admin .navbar .dropdown-menu a {
            color: #ffffff !important;
        }

/*/////////////////////Sidemenu//////////////////////*/
.admin .sidenav {
    height: 100%;
    /*Default width = 0, edited in Site.js*/
    width: 0;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    background-color: #E59500;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

    .admin .sidenav h1 {
        font-size: 24px;
        margin-top: 3%;
    }

    .admin .sidenav .logo {
        background-color: royalblue;
        text-align: center;
        margin-top: 0px;
        padding: 5px;
        width: 250px;
        height: 50px;
    }

    .admin .sidenav .profile {
        padding: 10px 15px;
        color: #ffffff;
        background-color: cornflowerblue;
        margin-bottom: 2px;
    }

        .admin .sidenav .profile img {
            height: 40px;
            width: 40px;
        }

    .admin .sidenav a {
        text-decoration: none;
        font-size: 16px;
        color: #ffffff;
        transition: 0.3s;
    }

    .admin .sidenav i {
        font-size: 16px;
        color: #ffffff;
    }

    .admin .sidenav a:hover {
        background-color: cornflowerblue !important;
        border-radius: 0px;
    }

    .admin .sidenav .active a {
        border-radius: 0px !important;
    }

    .admin .sidenav a .name {
        margin-left: 5px;
    }

    .admin .sidenav .dropdown-menu {
        background-color: #f58a25;
        border-color: #f58a25;
        width: 250px;
    }

        .admin .sidenav .dropdown-menu a {
            color: #ffffff !important;
        }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*Transition for moving to right when sidemenu is opening*/
.admin .moveToRight {
    transition: 0.5s;
}
