﻿/*///////////////////////HTML & Body///////////////////////*/
body {
    background-color: #F1F1F1;
    font-family: 'Cabin', sans-serif;
}

/*///////////////////////Navbar//////////////////////*/
.website .navbar {
    background-color: #E59500;
    border-color: #E59500;
    border-radius: 0px;
}

    .website .navbar .navbar-brand {
        color: #FFFFFF;
    }

.website .navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.website .navbar-default .navbar-nav > .active > a {
    background-color: #4B91FF;
    color: #FFFFFF;
}

/*///////////////////////Form///////////////////////*/
.website input,
.website select,
.website textarea {
    max-width: 280px;
}

.website textarea {
    max-width: 100%;
}

.website .dl-horizontal dt {
    white-space: normal;
}


/*///////////////////////Panel///////////////////////*/
.website .panel {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 0px;
}

.website .panel-body {
    background-color: #FFFFFF;
}

.website .panel-heading {
    text-align: center;
    background-color: #E59500;
    color: white;
}

.website .panel .panel-heading h3 {
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.website .panel .panel-heading a:hover {
    text-decoration: none;
}


/*///////////////////////Image///////////////////////*/
.website .img-hover {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

    .website .img-hover:hover {
        opacity: .5;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

.website .img-small {
    min-height: 150px;
    min-width: 150px;
    max-width: 150px;
    max-height: 150px;
}

.website .img-very-small {
    min-height: 100px;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
}

.website .img-center {
    margin-left: auto;
    margin-right: auto;
}

.website .img-sponsor {
    width: 130px;
    height: 80px;
}

.website .img-album {
    width: 130px;
    height: 80px;
}


/*///////////////////////Button///////////////////////*/
.website .btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.website a:hover.btn-social {
    background-color: #FFFFFF;
}

.website .btn-block {
    margin-top: 5px;
}

.website .btn-blue {
    background-color: #4B91FF;
    color: white;
}

/*///////////////////////Text///////////////////////*/
.website p {
    font-size: 19px;
    line-height: 28px;
    color: #333333;
}

.website .small-right {
    float: right;
}

.website .small-title {
    font-weight: 700;
}

.website .small-date {
    font-size: 16px;
    margin-bottom: 0px;
}

.website .dateAdded {
    color: #808080;
    font-size: 12px;
}

.website .nullResults {
    font-size: 16px;
    font-style: italic;
}

.website .float-right {
    float: right;
}

.website .text-bold {
    font-weight: bold;
}

/*///////////////////////Table/////////////////////////*/
.website .calendar-table thead {
    background-color: #E59500;
    color: #FFFFFF;
}

.website .categoryRow th {
    text-align: center;
    background-color: #4B91FF;
    border-color: #4B91FF;
    color: #FFFFFF;
    font-weight: bold;
}

/*/////////////////////Pagination//////////////////////*/
.website .pagination .active a {
    background-color: #4B91FF;
    border-color: #4B91FF;
}


/*///////////////////////Footer///////////////////////*/
.website footer {
    background-color: #222222;
    color: #ffffff;
    padding: 30px;
}

    .website footer p {
        color: #ffffff;
        font-size: 16px;
    }

    .website footer h2 {
        padding-bottom: 10px;
    }

    .website footer.footer-below {
        background-color: #111111;
        padding: 10px !important;
    }

/*///////////////////////Other///////////////////////*/
.website .pagination-container {
    text-align: center;
}

.website .news_pagination {
    margin-top: 0px;
}
