﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Wachtwoord wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default panel-login">
        <div class="panel-heading"><h3>Registreren</h3></div>
        <div class="panel-body text-center">
            <span class="errorText">@ViewBag.errorMessage</span>
            @if (ViewBag.errorMessage != null)
            {
                <br />
            }

            @using (Html.BeginForm(null, null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ChangePassword.Id)

                    @* Current password *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>@Html.DisplayNameFor(model => model.ChangePassword.CurrentPassword)</label>
                            @Html.EditorFor(model => model.ChangePassword.CurrentPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Wachtwoord" } })
                            @Html.ValidationMessageFor(model => model.ChangePassword.CurrentPassword, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    @* New password *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>@Html.DisplayNameFor(model => model.ChangePassword.NewPassword)</label>
                            @Html.EditorFor(model => model.ChangePassword.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Wachtwoord" } })
                            @Html.ValidationMessageFor(model => model.ChangePassword.NewPassword, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    @* New password repeat *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>@Html.DisplayNameFor(model => model.ChangePassword.NewPasswordRepeat)</label>
                            @Html.EditorFor(model => model.ChangePassword.NewPasswordRepeat, new { htmlAttributes = new { @class = "form-control", @placeholder = "Wachtwoord herhaling" } })
                            @Html.ValidationMessageFor(model => model.ChangePassword.NewPasswordRepeat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="progress progress-striped active">
                        <div id="passwordStrength" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>

                    <div class="passwordRequirements">
                        <ul>
                            <li id="pwMinCharacters">Minstens 8 karakters </li>
                            <li id="pwCapitalLetter">Minstens 1 hoofdletter</li>
                            <li id="pwNumber">Minstens 1 cijfer</li>
                            <li id="pwAttribute">Minstens 1 speciaal teken</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-lg btn-success btn-block" id="passwordButton" disabled>Wijzigen</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
