﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2 class="text-center">Profielfoto wijzigen</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Gebruiker.Id)
        @Html.HiddenFor(model => model.Gebruiker.Email)
        @Html.HiddenFor(model => model.Gebruiker.FirstName)
        @Html.HiddenFor(model => model.Gebruiker.LastName)
        @Html.HiddenFor(model => model.Gebruiker.Level)
        @Html.HiddenFor(model => model.Gebruiker.Password)
        @Html.HiddenFor(model => model.Gebruiker.IsBlocked)
        @Html.HiddenFor(model => model.Gebruiker.LastModifiedAt)
        @Html.HiddenFor(model => model.Gebruiker.CreatedAt)
        @Html.HiddenFor(model => model.Gebruiker.MainAccount)

        <h2>Huidige foto</h2>
        @Image.ShowCurrentImage(Model.Gebruiker.Image, Model.Gebruiker.FirstName)
        <br />

        @* Image *@
        <h2>Nieuwe profielfoto uploaden</h2>
        @Html.EditorFor(model => model.Gebruiker.Image, new { htmlAttributes = new { @class = "form-control btn btn-info", @Type = "file" } })
        <br />

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Opslaan" class="btn btn-default" /> |
                @Html.ActionLink("Annuleren", "Edit", new { id = Model.Gebruiker.Id })
            </div>
        </div>
    </div>
}