﻿@model CVO.Models.Gebruiker

@{
    ViewBag.Title = "Wachtwoord vergeten";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default panel-login">
        <div class="panel-heading"><h3>Wachtwoord vergeten</h3></div>
        <div class="panel-body text-center">
            <span class="errorText">@ViewBag.errorMessage</span>

            @using (Html.BeginForm(null, null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @* Email *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <center>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </center>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-lg btn-success btn-block" id="LoginButton">Email versturen</button>
                        </div>
                    </div>
                </div>
            }
            @Html.ActionLink("Inloggen", "Login")
        </div>
    </div>
</div>
