﻿@model CVO.ViewModels.AdminVM
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Model.CurrentUser.FirstName
        @Model.CurrentUser.LastName <br />
        Niveau: @Model.CurrentUser.Level
    </div>
</body>
</html>
