﻿@{
    ViewBag.Title = "Wachtwoord verzonden";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default panel-login">
        <div class="panel-heading"><h3>Wachtwoord verzonden</h3></div>
        <div class="panel-body text-center text-color-green">
            <i class="fa fa-check fa-3x"></i><br />
            Wachtwoord verzonden <br /><br />
            @Html.ActionLink("Inloggen", "Login")
        </div>
    </div>
</div>
