﻿@model CVO.ViewModels.AdminVM
@using CVO.Models

@{
    ViewBag.Title = "Blokkeren";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@if (Model.Gebruiker.IsBlocked)
{
    <h2>@Model.Gebruiker.FirstName deblokkeren</h2>
    <h3>Weet u zeker dat u @Model.Gebruiker.FirstName @Model.Gebruiker.LastName wilt deblokkeren?</h3>
}
else
{
    <h2>@Model.Gebruiker.FirstName blokkeren</h2>
    <h3>Weet u zeker dat u @Model.Gebruiker.FirstName @Model.Gebruiker.LastName wilt blokkeren?</h3>
}

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.Level)/3
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.Image)
        </dt>

        <dd>
            @Image.ShowImage(Model.Gebruiker.Image, false)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.LastModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.LastModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.CreatedAt)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Gebruiker.Id)
        @Html.HiddenFor(model => model.Gebruiker.Email)
        @Html.HiddenFor(model => model.Gebruiker.FirstName)
        @Html.HiddenFor(model => model.Gebruiker.LastName)
        @Html.HiddenFor(model => model.Gebruiker.Level)
        @Html.HiddenFor(model => model.Gebruiker.Password)
        @Html.HiddenFor(model => model.Gebruiker.IsBlocked)
        @Html.HiddenFor(model => model.Gebruiker.LastModifiedAt)
        @Html.HiddenFor(model => model.Gebruiker.CreatedAt)
        @Html.HiddenFor(model => model.Gebruiker.MainAccount)
        @Html.HiddenFor(model => model.Gebruiker.Image)
        <div class="form-actions no-color">
            @if (Model.Gebruiker.IsBlocked)
            {
                <input type="submit" value="Deblokkeren" class="btn btn-default" /> <span> | </span>
            }
            else
            {
                <input type="submit" value="Blokkeren" class="btn btn-default" /> <span> | </span>
            }
            @Html.ActionLink("Terug naar overzicht", "Index")
        </div>
    }
</div>
