﻿@model CVO.ViewModels.AdminVM
@using CVO.Models

@{
    ViewBag.Title = "Profielfoto invoeren";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default panel-login">
        <div class="panel-heading"><h3>Profielfoto invoeren</h3></div>
        <div class="panel-body text-center">
            <span class="errorText">@ViewBag.errorMessage</span>

            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Gebruiker.Id)
                    @Html.HiddenFor(model => model.Gebruiker.Email)
                    @Html.HiddenFor(model => model.Gebruiker.FirstName)
                    @Html.HiddenFor(model => model.Gebruiker.LastName)
                    @Html.HiddenFor(model => model.Gebruiker.Level)
                    @Html.HiddenFor(model => model.Gebruiker.Password)
                    @Html.HiddenFor(model => model.Gebruiker.IsBlocked)
                    @Html.HiddenFor(model => model.Gebruiker.LastModifiedAt)
                    @Html.HiddenFor(model => model.Gebruiker.CreatedAt)
                    @Html.HiddenFor(model => model.Gebruiker.MainAccount)

                    @* Current profileImage *@
                    <h2>Huidige profielfoto</h2>
                    @Image.ShowDefaultProfileImage()
                    <br />

                    @* Image *@
                    <h2>Nieuwe foto uploaden</h2>
                    @Html.EditorFor(model => model.Gebruiker.Image, new { htmlAttributes = new { @class = "form-control btn btn-info", @Type = "file" } })
                    <br /><br />

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-lg btn-success">Foto invoeren</button>
                            @Html.ActionLink("Overslaan", "Index", null, new { @class = "btn btn-lg btn-warning" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
