﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Invoeren";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default panel-login">
        <div class="panel-heading"><h3>Registreren</h3></div>
        <div class="panel-body text-center">
            <span class="errorText">@ViewBag.errorMessage</span>

            @using (Html.BeginForm(null, null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.NewUser.Image)
                    @* First name *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>@Html.DisplayNameFor(model => model.NewUser.FirstName)</label>
                            @Html.EditorFor(model => model.NewUser.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Voornaam" } })
                            @Html.ValidationMessageFor(model => model.NewUser.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @* Last name *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>@Html.DisplayNameFor(model => model.NewUser.LastName)</label>
                            @Html.EditorFor(model => model.NewUser.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Achternaam" } })
                            @Html.ValidationMessageFor(model => model.NewUser.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @* Email *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>@Html.DisplayNameFor(model => model.NewUser.Email)</label>
                            @Html.EditorFor(model => model.NewUser.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.NewUser.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @* Password *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>@Html.DisplayNameFor(model => model.NewUser.Password)</label>
                            @Html.EditorFor(model => model.NewUser.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Wachtwoord" } })
                            @Html.ValidationMessageFor(model => model.NewUser.Password, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    @* Password repeat *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>@Html.DisplayNameFor(model => model.NewUser.PasswordRepeat)</label>
                            @Html.EditorFor(model => model.NewUser.PasswordRepeat, new { htmlAttributes = new { @class = "form-control", @placeholder = "Wachtwoord herhaling" } })
                            @Html.ValidationMessageFor(model => model.NewUser.PasswordRepeat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="progress progress-striped active">
                        <div id="passwordStrength" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>

                    <div class="passwordRequirements">
                        <ul>
                            <li id="pwMinCharacters">Minstens 8 karakters </li>
                            <li id="pwCapitalLetter">Minstens 1 hoofdletter</li>
                            <li id="pwNumber">Minstens 1 cijfer</li>
                            <li id="pwAttribute">Minstens 1 speciaal teken</li>
                        </ul>
                    </div>

                    @* Level *@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="level">Niveau</label>
                            <select class="form-control" id="label" name="NewUser.Level">
                                <option value="1">Niveau: 1</option>
                                <option value="2">Niveau: 2</option>
                                <option value="3">Niveau: 3</option>
                            </select>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-lg btn-success btn-block" id="passwordButton">Registreren</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
