﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.Level)/3
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.Image)
        </dt>

        <dd>
            @Image.ShowImage(Model.Gebruiker.Image, false)
        </dd>

        @if (Model.Gebruiker.MainAccount)
        {
            <dt>
                <i class="fa fa-star" style="color: gold;"></i>@Html.DisplayNameFor(model => model.Gebruiker.MainAccount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gebruiker.MainAccount)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.Gebruiker.IsBlocked)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gebruiker.IsBlocked)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.LastModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.LastModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Gebruiker.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>