﻿@model CVO.ViewModels.AdminVM
@using CVO.Models

@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Wijzigen</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Gebruiker</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Gebruiker.Id)
        @Html.HiddenFor(model => model.Gebruiker.Image)
        @Html.HiddenFor(model => model.Gebruiker.Password)
        @Html.HiddenFor(model => model.Gebruiker.LastModifiedAt)
        @Html.HiddenFor(model => model.Gebruiker.CreatedAt)
        @Html.HiddenFor(model => model.Gebruiker.IsBlocked)
        @Html.HiddenFor(model => model.Gebruiker.MainAccount)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                @if (Model.Gebruiker.Image == null)
                {
                    @Html.ActionLink("Profielfoto invoeren", "EditImage", null, new { id = Model.Gebruiker.Id }, htmlAttributes: new { @class = "btn btn-default" })
                }
                else
                {
                    @Html.ActionLink("Profielfoto wijzigen", "EditImage", null, new { id = Model.Gebruiker.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    <button class="btn btn-default" data-toggle="modal" data-target="#deleteImage" type="button">Profielfoto verwijderen</button>
                }

                @* If current user is editing his own profile, change password button will appear *@
                @if (Model.Gebruiker.Id == Gebruiker.ReturnCurrentUser().Id)
                {
                    @Html.ActionLink("Wachtwoord wijzigen", "ChangePassword", "Profiel", new { id = Model.Gebruiker.Id }, htmlAttributes: new { @class = "btn btn-default" })
                }
            </div>
        </div>

        @* FirstName *@
        <div class="form-group">
            @Html.LabelFor(model => model.Gebruiker.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gebruiker.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gebruiker.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        @* LastName *@
        <div class="form-group">
            @Html.LabelFor(model => model.Gebruiker.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gebruiker.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gebruiker.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Email *@
        <div class="form-group">
            @Html.LabelFor(model => model.Gebruiker.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gebruiker.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gebruiker.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        @* RubenTODO: Generiek maken van levels *@

        @*
            Do not show level for current user and MainAccount
            It is not possible to change your own level
        *@
        @if (!Model.Gebruiker.MainAccount && Model.Gebruiker.Id != Model.CurrentUser.Id)
        {
            @* Level *@
            <div class="form-group">
                @Html.LabelFor(model => model.Gebruiker.Level, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="label" name="Gebruiker.Level">
                        @if (Model.Gebruiker.Level == 1)
                        {
                            <option value="1" selected>Niveau: 1</option>
                        }
                        else
                        {
                            <option value="1">Niveau: 1</option>
                        }

                        @if (Model.Gebruiker.Level == 2)
                        {
                            <option value="2" selected>Niveau: 2</option>
                        }
                        else
                        {
                            <option value="2">Niveau: 2</option>
                        }

                        @if (Model.Gebruiker.Level == 3)
                        {
                            <option value="3" selected>Niveau: 3</option>
                        }
                        else
                        {
                            <option value="3">Niveau: 3</option>
                        }
                    </select>
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Gebruiker.Level)
        }

        @* Submit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> | @Html.ActionLink("Annuleren", "Index")
            </div>
        </div>
    </div>
}

@* Modal for deleting image *@
<div class="modal fade" id="deleteImage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Foto verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>Weet u zeker dat u de foto wilt verwijderen?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("DeleteImage", null))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Gebruiker.Id)
                    @Html.HiddenFor(model => model.Gebruiker.Email)
                    @Html.HiddenFor(model => model.Gebruiker.FirstName)
                    @Html.HiddenFor(model => model.Gebruiker.LastName)
                    @Html.HiddenFor(model => model.Gebruiker.Level)
                    @Html.HiddenFor(model => model.Gebruiker.Password)
                    @Html.HiddenFor(model => model.Gebruiker.IsBlocked)
                    @Html.HiddenFor(model => model.Gebruiker.LastModifiedAt)
                    @Html.HiddenFor(model => model.Gebruiker.CreatedAt)
                    @Html.HiddenFor(model => model.Gebruiker.MainAccount)
                    @Html.HiddenFor(model => model.Gebruiker.Image)

                    <button type="submit" class="btn btn-default">Ja</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
                }

            </div>
        </div>
    </div>
</div>