﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Gebruikers</h2>

<p>
    @Html.ActionLink("Invoeren", "Create")
</p>
@if (Model.GebruikerList.Count == 0)
{
    <p>Er zijn geen gebruikers ingevoerd.</p>
}
else
{
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.GebruikerList[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GebruikerList[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GebruikerList[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GebruikerList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GebruikerList[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GebruikerList[0].IsBlocked)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.GebruikerList)
        {
            <tr>
                @if (item.MainAccount)
                {
                    <td><i class="fa fa-star" title="Hoofdaccount" style="color: gold;"></i></td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    @Image.ShowImage(item.Image, true)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td class="text-center">
                    @item.CheckIfUserIsBlocked(item.IsBlocked)
                </td>
                <td>
                    @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                    @*
                        Do not show link for blockpage for current user and user with mainaccount
                        It is not possible to block your own account
                    *@
                    @if (item.Id != Model.CurrentUser.Id && !item.MainAccount)
                    {
                        //If user is already blocked, show "Deblokkeren" insead of "Blokkeren"
                        if (item.IsBlocked)
                        {
                            <span>|</span> @Html.ActionLink("Deblokkeren", "Block", new { id = item.Id })
                        }
                        else
                        {
                            <span>|</span> @Html.ActionLink("Blokkeren", "Block", new { id = item.Id })
                        }
                    }
                </td>
            </tr>
        }

    </table>
}