﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nieuws</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nieuws.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nieuws.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nieuws.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nieuws.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nieuws.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nieuws.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nieuws.Locked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nieuws.Locked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nieuws.Image)
        </dt>

        <dd>
           @Image.ShowImage(Model.Nieuws.Image, false)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nieuws.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nieuws.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Nieuws.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
