﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@if (Model.Nieuws.Image == null)
{
    <h2>Foto invoeren</h2>
}
else
{
    <h2>Foto wijzigen</h2>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Nieuws</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Nieuws.Id)
        @Html.HiddenFor(model => model.Nieuws.Active)
        @Html.HiddenFor(model => model.Nieuws.Content)
        @Html.HiddenFor(model => model.Nieuws.DateCreated)
        @Html.HiddenFor(model => model.Nieuws.Locked)
        @Html.HiddenFor(model => model.Nieuws.Title)
        

        <h2>Huidige foto</h2>
        @Image.ShowCurrentImage(Model.Nieuws.Image, Model.Nieuws.Title)
        <br />

        @* Image *@
        <h2>Nieuwe foto uploaden</h2>
        @Html.EditorFor(model => model.Nieuws.Image, new { htmlAttributes = new { @class = "form-control btn btn-info", @Type = "file" } })

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> | @Html.ActionLink("Annuleren", "Edit", new { id = Model.Nieuws.Id })
            </div>
        </div>
    </div>
}