﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Wijzigen</h2>

<div class="form-horizontal">
    <h4>Nieuws</h4>
    <hr />


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (Model.Nieuws.Image == null)
            {
                @Html.ActionLink("Foto invoeren", "EditImage", null, new { id = Model.Nieuws.Id }, htmlAttributes: new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Foto wijzigen", "EditImage", null, new { id = Model.Nieuws.Id }, htmlAttributes: new { @class = "btn btn-default" })
                <button class="btn btn-default" data-toggle="modal" data-target="#deleteImage" type="button">Foto verwijderen</button>
            }
            
        </div>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Nieuws.Id)
        @Html.HiddenFor(model => model.Nieuws.Image)
        @Html.HiddenFor(model => model.Nieuws.DateCreated)

        @* Title *@
        <div class="form-group">
            @Html.LabelFor(model => model.Nieuws.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nieuws.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Titel" } })
                @Html.ValidationMessageFor(model => model.Nieuws.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Content *@
        <div class="form-group">
            @Html.LabelFor(model => model.Nieuws.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nieuws.Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Content" } })
                @Html.ValidationMessageFor(model => model.Nieuws.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Active *@
        <div class="form-group">
            @Html.LabelFor(model => model.Nieuws.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Nieuws.Active)
                    @Html.ValidationMessageFor(model => model.Nieuws.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @* Locked *@
        <div class="form-group">
            @Html.LabelFor(model => model.Nieuws.Locked, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Nieuws.Locked)
                    @Html.ValidationMessageFor(model => model.Nieuws.Locked, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @* Submit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> | @Html.ActionLink("Annuleren", "Index")
            </div>
        </div>
    }
</div>

@* Modal for deleting image *@
<div class="modal fade" id="deleteImage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Foto verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>Weet u zeker dat u de foto wilt verwijderen?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("DeleteImage", null))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Nieuws.Id)
                    @Html.HiddenFor(model => model.Nieuws.Active)
                    @Html.HiddenFor(model => model.Nieuws.Content)
                    @Html.HiddenFor(model => model.Nieuws.DateCreated)
                    @Html.HiddenFor(model => model.Nieuws.Locked)
                    @Html.HiddenFor(model => model.Nieuws.Title)
                    @Html.HiddenFor(model => model.Nieuws.Image)

                    <button type="submit" class="btn btn-default">Ja</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
                }

            </div>
        </div>
    </div>
</div>