﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Nieuws</h2>

<p>
    @Html.ActionLink("Invoeren", "Create")
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NieuwsList[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NieuwsList[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NieuwsList[0].Locked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NieuwsList[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NieuwsList[0].DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NieuwsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locked)
                </td>
                <td>
                    @Image.ShowImage(item.Image, true)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
