﻿@model CVO.ViewModels.IndexVM
@using CVO.Models
@{
    //ViewBag.Title = Model.Nieuws.Title;
    //ViewBag.Description = Text.GetPartOfString(Model.Nieuws.Content, 80);
    //ViewBag.Keywords = Model.Nieuws.Title + ", " + "Nieuws, " + "CVO Nieuws";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="well text-center"><h3>Contact</h3></div>
        </div>

        <div class="col-sm-8">

            @* Contact form *@
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading"><h3>Contactformulier</h3></div>
                    <div class="panel-body">
                        <div class="panel-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.EditorFor(model => model.contactform.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Naam" } })
                                        @Html.ValidationMessageFor(model => model.contactform.Name, "", new { @class = "text-danger" })
                                        <br>
                                        <br>
                                        @Html.EditorFor(model => model.contactform.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefoonnummer" } })
                                        @Html.ValidationMessageFor(model => model.contactform.Phone, "", new { @class = "text-danger" })
                                        <br>
                                        <br>
                                        @Html.EditorFor(model => model.contactform.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                        @Html.ValidationMessageFor(model => model.contactform.Email, "", new { @class = "text-danger" })
                                        <br>
                                        <br>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.EditorFor(model => model.contactform.Message, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bericht", @rows = 10 } })
                                        @Html.ValidationMessageFor(model => model.contactform.Message, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" name="contact_form" class="btn btn-primary btn-block">Verzenden</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            @* Calamities *@
            @if (Model.CalamiteitList.Count == 0)
            {
                <p class="nullResults text-center">Er zijn op dit moment geen bestuursleden ingevoerd.</p>
            }
            else
            {
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading"><h3>Calamiteiten</h3></div>
                        <div class="panel-body">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Naam</th>
                                        <th>Functie</th>
                                        <th>Email</th>
                                        <th>Telefoon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        //Set previousCategoryId to 0
                                        int previousCategoryId = 0;

                                        foreach (var item in Model.CalamiteitList)
                                        {
                                            //If item.CateogryId not is previousCategory Id
                                            //Show category name
                                            if (item.CategoryId != previousCategoryId)
                                            {
                                                <tr class="categoryRow">
                                                    <th colspan="4">@item.Category.Title</th>
                                                </tr>
                                            }
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Function</td>
                                                <td>@item.EmailAddress</td>
                                                <td>@item.PhoneNumber</td>
                                            </tr>

                                            //Set previousCategoryId to current categoryId
                                            previousCategoryId = item.CategoryId;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                                        }

            @* Members *@
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading"><h3>Bestuursleden</h3></div>
                    <div class="panel-body">
                        @if (Model.BestuurslidList.Count == 0)
                        {
                            <p class="nullResults text-center">Er zijn op dit moment geen bestuursleden ingevoerd.</p>
                        }
                        else
                        {
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Naam</th>
                                        <th>Functie</th>
                                        <th>Email</th>
                                        <th>Telefoon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        //Set previousCategoryId to 0
                                        int previousCategoryId = 0;

                                        foreach (var item in Model.BestuurslidList)
                                        {
                                            //If item.CateogryId not is previousCategory Id
                                            //Show category name
                                            if (item.CategoryId != previousCategoryId)
                                            {
                                                <tr class="categoryRow">
                                                    <th colspan="4">@item.Category.Title</th>
                                                </tr>
                                            }
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Function</td>
                                                <td>@item.EmailAddress</td>
                                                <td>@item.PhoneNumber</td>
                                            </tr>

                                            //Set previousCategoryId to current categoryId
                                            previousCategoryId = item.CategoryId;
                                        }
                                    }

                                </tbody>
                            </table>
                                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">

            @* Address *@
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading"><h3>Adres</h3></div>
                    <div class="panel-body text-center">
                        <p>
                            @Model.Locatie.Stadium<br />
                            @Model.Locatie.Street @Model.Locatie.Number<br />
                            @Model.Locatie.ZipCode @Model.Locatie.City<br />
                            @Model.Locatie.Phone<br />
                        </p>
                    </div>
                </div>
            </div>

            @* Google Maps Clubhuis *@
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading"><h3>Clubhuis CVO</h3></div>
                    <div class="panel-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19524.749796656783!2d5.959128183781951!3d52.28707741821564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7c662be0f5549%3A0xe2dad035fa6c3adf!2sZichtstede+18%2C+8171+NB+Vaassen!5e0!3m2!1snl!2snl!4v1497093542506" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            @* Google Maps de Wieken *@
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading"><h3>De Wieken (zaal)</h3></div>
                    <div class="panel-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9761.79480596468!2d5.96251818432057!3d52.2897099612669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7c67b8c6d5cd1%3A0x3e6534b95004c3d5!2sDorpscentrum+De+Wieken!5e0!3m2!1snl!2snl!4v1497093662643" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            @* Google Maps de Koekoek *@
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading"><h3>De Koekoek (zaal)</h3></div>
                    <div class="panel-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9762.835525912871!2d5.954171362188287!3d52.284986956990004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7c671d3f0cc7b%3A0xf42e655f93b830c3!2sZwem-+en+Sportcentrum+De+Koekoek!5e0!3m2!1snl!2snl!4v1497093963810" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
