﻿@model CVO.ViewModels.IndexVM
@using PagedList.Mvc
@using CVO.Models
@{
    ViewBag.Title = "Home";
    ViewBag.Description = "Hoofdpagina Handbalvereniging CVO";
    ViewBag.Keywords = "homepage, " + "nieuws, " + "teams, " + "locatie, " + "contact, " + "verenging";

}

<section>
    <div class="row">
        <div class="col-sm-12">
            <div class="well text-center"><h3>Welkom op de nieuwe website van CVO!</h3></div>
        </div>
        <div class="col-sm-8">

            @Html.Partial("HomeDirectives/Nieuws")

            @Html.Partial("HomeDirectives/NieuwsPagination")

            @Html.Partial("HomeDirectives/Contact")

        </div>
        <div class="col-sm-4">

            @Html.Partial("HomeDirectives/Facebook")

            @Html.Partial("HomeDirectives/Kalender")

            @Html.Partial("HomeDirectives/Album")

            @Html.Partial("HomeDirectives/Locatie")

            @Html.Partial("HomeDirectives/Sponsor")
        </div>
    </div>
</section>
