﻿@model CVO.ViewModels.IndexVM
@using CVO.Models
@{
    //ViewBag.Title = Model.Title;
    //ViewBag.Description = Text.GetPartOfString(Model.Content, 80);
    //ViewBag.Keywords = Model.Title + ", " + "Nieuws, " + "CVO Nieuws";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="well text-center"><h3>Kalender</h3></div>
    </div>
    <div class="col-sm-12">
        <table class="table table-striped table-hover table-responsive calendar-table">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Titel</th>
                    <th class="hidden-xs hidden-sm"></th>
                    <th>Omschrijving</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.KalenderList)
                {
                    <tr>
                        @if (item.DateStart == item.DateEnd)
                        {
                            <td style="min-width:100px;">@Date.ShowDateOfDateTimeWithMonthName(item.DateStart)</td>
                        }
                        else
                        {
                            <td style="min-width:100px">@Date.ShowDateOfDateTimeWithMonthName(item.DateStart) - @Date.ShowDateOfDateTimeWithMonthName(item.DateEnd)</td>
                        }
                        <td>@Html.ActionLink((string)item.Title, "KalenderItem", null, new { id = item.Id }, new { @Class = "text-bold" })</td>
                        @if (item.Image != null)
                        {
                            <td class="hidden-xs hidden-sm"><img src='@item.Image' class='img-responsive img-very-small img-index img-center' /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Text.GetPartOfString(item.Description, 400)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
