﻿@model CVO.ViewModels.IndexVM
@using CVO.Models
@{
    ViewBag.Title = Model.Kalender.Title;
    //ViewBag.Description = Model.Kalender.Title+ " - " + Model.Kalender.Description.Substring(0, 60) + "...";
    ViewBag.Keywords = Model.Kalender.Title + ", " + "Kalender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="well text-center"><h3>@Model.Kalender.Title</h3></div>
    </div>

    <div class="col-sm-12">
        @if (Model.Kalender.Image != null)
        {
            <img src="@Model.Kalender.Image" alt="@Model.Kalender.Title" class="img-responsive img-center" /><br />
        }

        @if (Model.Kalender.DateStart == Model.Kalender.DateEnd)
        {
            <p class="text-center text-bold">Datum: @Date.ShowDateOfDateTimeWithMonthName(Model.Kalender.DateStart)</p>
        } else
        {
            <p class="text-center text-bold">Datum: @Date.ShowDateOfDateTimeWithMonthName(Model.Kalender.DateStart) t/m @Date.ShowDateOfDateTimeWithMonthName(Model.Kalender.DateEnd)</p>
        }

        <p>@Model.Kalender.Description</p>
    </div>



</div>

<div class="row">
    <div class="col-sm-12">
        <p class="dateAdded">Toegevoegd op: @Model.Kalender.DateCreated.Day @Date.ReturnDutchNameOfMonth(Model.Kalender.DateCreated) @Model.Kalender.DateCreated.Year</p>
    </div>
</div>