﻿@model CVO.ViewModels.IndexVM
@using CVO.Models
@{
    ViewBag.Title = Model.Nieuws.Title;
    ViewBag.Description = Text.GetPartOfString(Model.Nieuws.Content, 80);
    ViewBag.Keywords = Model.Nieuws.Title + ", " + "Nieuws, " + "CVO Nieuws";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="well text-center"><h3>@Model.Nieuws.Title</h3></div>
    </div>
    <div class="col-sm-12">
        @if(Model.Nieuws.Image != null)
        {
            <img src="@Model.Nieuws.Image" alt="@Model.Nieuws.Title" class="img-responsive img-center" />
        }
        <p>@Model.Nieuws.Content</p>
        <br />
        <h4>Toegevoegd op: @Model.Nieuws.DateCreated.Day @Date.ReturnDutchNameOfMonth(Model.Nieuws.DateCreated) @Model.Nieuws.DateCreated.Year</h4>
        <br />
    </div>
</div>

