﻿@model CVO.ViewModels.IndexVM
@using PagedList.Mvc
@{
    //ViewBag.Title = "Teams";
    //ViewBag.Description = "Op deze pagina kunt u alle teams van CVO vinden.";
    //ViewBag.Keywords = "teams, " + "CVO A1, " + "CVO B1, " + "CVO C1, " + "CVO D1, " + "CVO E1, " + "CVO F1, " + "CVO Dames 1, " + "CVO Dames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="well text-center"><h3>Sponsors</h3></div>
        </div>
        @{
            var counter = 0;
        }
        @foreach (var item in Model.SponsorList)
        {
            if (counter % 4 == 0)
            {
                <div class="row"></div>
            }
            <div class="col-sm-3">
                <div class="panel">
                    <div class="panel-heading"><h3>@item.Name</h3></div>
                    <div class="panel-body">
                        <a href='@item.Website' target="_blank"><img src="@item.Image" alt="@item.Name" class="img-responsive img-center img-hover" /></a>
                    </div>
                </div>
            </div>
            counter++;
        }
    </div>
</div>