﻿@model CVO.ViewModels.IndexVM
@using PagedList.Mvc
@{
    ViewBag.Title = "Teams";
    ViewBag.Description = "Op deze pagina kunt u alle teams van CVO vinden.";
    ViewBag.Keywords = "teams, " + "CVO A1, " + "CVO B1, " + "CVO C1, " + "CVO D1, " + "CVO E1, " + "CVO F1, " + "CVO Dames 1, " + "CVO Dames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <div class="well text-center"><h3>Teams</h3></div>
</div>

<div class="row">
    @{
        var counter = 0;
    }
    @foreach (var item in Model.TeamPagedList)
    {
        if (counter % 4 == 0)
        {
            <div class="row"></div>
        }
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading"><a href='@Url.Action("Team", "Home", new { id = item.Id })'><h3>@item.Name</h3></a></div>
                <div class="panel-body">
                    <a href='@Url.Action("Team", "Home", new { id = item.Id })'><img src="@item.Image" alt="@item.Name" class="img-responsive img-center img-hover" /></a>
                </div>
            </div>
        </div>
        counter++;
    }
</div>

@* Pagination *@
<div class="row">
    <div class="col-sm-12">
        <p class="text-center">Pagina @(Model.TeamPagedList.PageCount < Model.TeamPagedList.PageNumber ? 0 : Model.TeamPagedList.PageNumber) van @Model.TeamPagedList.PageCount</p>
        <p>@Html.PagedListPager(Model.TeamPagedList, page => Url.Action("Teams", new { page }))</p>
    </div>
</div>
