﻿@model CVO.ViewModels.IndexVM
@using CVO.Models
@{
    ViewBag.Title = Model.Team.Name;
    //ViewBag.Description = Model.Team.Name + " - " + Model.Team.Description.Substring(0, 60) + "...";
    ViewBag.Keywords = Model.Team.Name + ", " + "Teams, " + Model.Team.SponsorName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="well text-center"><h3>@Model.Team.Name</h3></div>
    </div>

    @if (Model.Team.SponsorImage == null)
    {
        <div class="col-sm-12">
            <img src="@Model.Team.Image" alt="@Model.Team.Name" class="img-responsive img-center" />
            <p>@Model.Team.Description</p>
        </div>
    }
    else
    {
        <div class="col-sm-10">
            <img src="@Model.Team.Image" alt="@Model.Team.Name" class="img-responsive img-center" />
            <p>@Model.Team.Description</p>
        </div>
        <div class="col-sm-2 text-center">
            <h2>Sponsor</h2>
            @if (Model.Team.SponsorWebsite == null)
            {
                <img src="@Model.Team.SponsorImage" alt="@Model.Team.SponsorName" class="img-responsive img-center" />
            }
            else
            {
                <a href="@Model.Team.SponsorWebsite" target="_blank"><img src="@Model.Team.SponsorImage" alt="@Model.Team.SponsorName" class="img-responsive img-center img-hover" /></a>
            }
            <h4>@Model.Team.SponsorName</h4>
        </div>
    }

</div>

<div class="row">
    <div class="col-sm-12">
        <p class="dateAdded">Toegevoegd op: @Model.Team.DateCreated.Day @Date.ReturnDutchNameOfMonth(Model.Team.DateCreated) @Model.Team.DateCreated.Year</p>
    </div>
</div>