﻿@model CVO.ViewModels.IndexVM

@{
    ViewBag.Title = "Zoeken";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int news = Model.NieuwsPagedList.Count;
    int calendar = Model.KalenderPagedList.Count;
    int album = Model.AlbumPagedList.Count;
    int team = Model.TeamPagedList.Count;
}

<h2 class="text-center">Zoeken</h2><br />

<div class="row">
    @if (news != 0 || calendar != 0)
    {
        <div class="col-md-6">
            @Html.Partial("SearchDirectives/Nieuws")

            @Html.Partial("SearchDirectives/Kalender")
        </div>
    }
    <div class="col-md-6">
        @Html.Partial("SearchDirectives/Teams")

        @Html.Partial("SearchDirectives/Albums")
    </div>
</div>