﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Invoeren";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Invoeren</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Kalender</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Kalender.DateCreated)

        @* Title *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Titel" } })
                @Html.ValidationMessageFor(model => model.Kalender.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @* DateStart *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.DateStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.DateStart, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.Kalender.GetInputDateValue(DateTime.Now) } })
                @Html.ValidationMessageFor(model => model.Kalender.DateStart, "", new { @class = "text-danger" })
            </div>
        </div>

        @* DateEnd *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.DateEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.DateEnd, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.Kalender.GetInputDateValue(DateTime.Now) } })
                @Html.ValidationMessageFor(model => model.Kalender.DateEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Description *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Omschrijving" } })
                @Html.ValidationMessageFor(model => model.Kalender.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Location *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Locatie" } })
                @Html.ValidationMessageFor(model => model.Kalender.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Active *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Kalender.Active)
                    @Html.ValidationMessageFor(model => model.Kalender.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @* Image *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.Image, new { htmlAttributes = new { @class = "form-control btn btn-info", @Type = "file" } })
                @Html.ValidationMessageFor(model => model.Kalender.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Submit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar overzicht", "Index")
</div>
