﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Verwijderen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Verwijderen</h2>

<h3>Weet u zeker dat u dit wilt verwijderen?</h3>
<div>
    <h4>Kalender</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.DateStart)
        </dt>

        <dd>
            @Date.ShowDateOfDateTime(Model.Kalender.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.DateEnd)
        </dt>

        <dd>
            @Date.ShowDateOfDateTime(Model.Kalender.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Image)
        </dt>

        <dd>
            @Image.ShowImage(Model.Kalender.Image,false)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.DateCreated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar overzicht", "Index")
        </div>
    }
</div>
