﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kalender</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.DateStart)
        </dt>

        <dd>
            @Date.ShowDateOfDateTime(Model.Kalender.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.DateEnd)
        </dt>

        <dd>
            @Date.ShowDateOfDateTime(Model.Kalender.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.Image)
        </dt>

        <dd>
            @Image.ShowImage(Model.Kalender.Image, false)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kalender.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kalender.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Kalender.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
