﻿@model CVO.ViewModels.AdminVM

@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Wijzigen</h2>

<div class="form-horizontal">
    <h4>Kalender</h4>
    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (Model.Kalender.Image == null)
            {
                @Html.ActionLink("Foto invoeren", "EditImage", null, new { id = Model.Kalender.Id }, htmlAttributes: new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Foto wijzigen", "EditImage", null, new { id = Model.Kalender.Id }, htmlAttributes: new { @class = "btn btn-default" })
                <button class="btn btn-default" data-toggle="modal" data-target="#deleteImage" type="button">Foto verwijderen</button>
            }
        </div>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Kalender.Id)
        @Html.HiddenFor(model => model.Kalender.Image)
        @Html.HiddenFor(model => model.Kalender.DateCreated)

        @* Title *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Titel" } })
                @Html.ValidationMessageFor(model => model.Kalender.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @* DateStart *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.DateStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.DateStart, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.Kalender.GetInputDateValue(Model.Kalender.DateStart) } })
                @Html.ValidationMessageFor(model => model.Kalender.DateStart, "", new { @class = "text-danger" })
            </div>
        </div>

        @* DateEnd *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.DateEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.DateEnd, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.Kalender.GetInputDateValue(Model.Kalender.DateEnd) } })
                @Html.ValidationMessageFor(model => model.Kalender.DateEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Description *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Omschrijving" } })
                @Html.ValidationMessageFor(model => model.Kalender.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Location *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kalender.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Locatie" } })
                @Html.ValidationMessageFor(model => model.Kalender.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Active *@
        <div class="form-group">
            @Html.LabelFor(model => model.Kalender.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Kalender.Active)
                    @Html.ValidationMessageFor(model => model.Kalender.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @* Submit *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> | @Html.ActionLink("Annuleren", "Index")
            </div>
        </div>
    }
</div>

@* Modal for deleting image *@
<div class="modal fade" id="deleteImage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profielfoto verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>Weet u zeker dat u uw profielfoto wilt verwijderen?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("DeleteImage", null))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Kalender.Id)
                    @Html.HiddenFor(model => model.Kalender.DateCreated)
                    @Html.HiddenFor(model => model.Kalender.Active)
                    @Html.HiddenFor(model => model.Kalender.Title)
                    @Html.HiddenFor(model => model.Kalender.DateEnd)
                    @Html.HiddenFor(model => model.Kalender.DateStart)
                    @Html.HiddenFor(model => model.Kalender.Image)
                    @Html.HiddenFor(model => model.Kalender.Description)
                    @Html.HiddenFor(model => model.Kalender.Location)

                    <button type="submit" class="btn btn-default">Ja</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
                }

            </div>
        </div>
    </div>
</div>