﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Wijzigen";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@if(Model.Kalender.Image == null)
{
    <h2>Foto invoeren</h2>
} else
{
    <h2>Foto wijzigen</h2>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Kalender</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Kalender.Id)
        @Html.HiddenFor(model => model.Kalender.DateCreated)
        @Html.HiddenFor(model => model.Kalender.Active)
        @Html.HiddenFor(model => model.Kalender.Title)
        @Html.HiddenFor(model => model.Kalender.DateEnd)
        @Html.HiddenFor(model => model.Kalender.DateStart)
        @Html.HiddenFor(model => model.Kalender.Description)
        @Html.HiddenFor(model => model.Kalender.Location)

        <h2>Huidige foto</h2>
        @Image.ShowCurrentImage(Model.Kalender.Image, Model.Kalender.Title)
        <br />

        @* Image *@
        <h2>Nieuwe foto uploaden</h2>
        @Html.EditorFor(model => model.Kalender.Image, new { htmlAttributes = new { @class = "form-control btn btn-info", @Type = "file" } })
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" /> | @Html.ActionLink("Annuleren", "Edit", new { id = Model.Kalender.Id })
            </div>
        </div>
    </div>
}