﻿@model CVO.ViewModels.AdminVM
@using CVO.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Invoeren", "Create")
</p>
@if (Model.KalenderList.Count == 0)
{
    <p>Er zijn geen activiteiten ingevoerd.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KalenderList[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KalenderList[0].DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KalenderList[0].DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KalenderList[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KalenderList[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KalenderList[0].DateCreated)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.KalenderList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Date.ShowDateOfDateTime(item.DateStart)
                </td>
                <td>
                    @Date.ShowDateOfDateTime(item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Image.ShowImage(item.Image, true)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
